# This file contains the configuration for the padd.sh script to
# communicate with an Domotics installation
# It will  read from the padd.sh script that needs to be places in the 
# same folder.

# Settings for Domoticz

#Hostname of the server fx dzhost="192.168.1.3:8080" # Leave hostname "" for stay offline

  dzhost="192.168.1.3:82" # Leave hostname "" for stay offline

#idx for download, upload and ping etc

  idxcpu=30  #IDX for the CPU load meter
  idxtmp=25  #IDX for the Temperature meter
  idxvpn=44  #IDX for the VPN connection count meter
  idxssh=45  #IDX for the SSH connection count meter
  idxdisk=60 #IDX for the DISK space meter
